### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
player_Count = len(purchase_data["SN"].unique())

f'There are {player_Count} total players.'

'There are 576 total players.'

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_count = len(purchase_data["Item ID"].unique())
avg_Price =  round(purchase_data["Price"].mean(),2)
total_Buy = purchase_data["Item ID"].count()
total_Rev = round(purchase_data["Price"].sum(),2)

purchase_summary = pd.DataFrame({"# of Unique Items" : [item_count],
                                "Average Price of all Items" : "$" + '{:.2f}'.format(avg_Price),
                                "Total Transactions" : total_Buy,
                                "Total Revenue" : "$" + '{:.2f}'.format(total_Rev)})
                               

purchase_summary

,# of Unique Items,Average Price of all Items,Total Transactions,Total Revenue
0,183,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_df = pd.DataFrame(purchase_data.loc[purchase_data["Gender"] == "Male"])

female_df = pd.DataFrame(purchase_data.loc[purchase_data["Gender"] == "Female"])

other_df = pd.DataFrame(purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"])

male_Count = len(male_df["SN"].unique())

female_Count = len(female_df["SN"].unique())

other_Count = len(other_df["SN"].unique())

total_Count = male_Count + female_Count + other_Count


gender_summary = pd.DataFrame({"Male" : [male_Count,str(round(((male_Count / player_Count) * 100),2)) + '%'],
                             "Female" : [female_Count,str(round(((female_Count / player_Count) * 100),2)) + '%'],
                             "Other / Non-Disclosed" : [other_Count,str(round(((other_Count / player_Count) * 100),2)) + '%'],
                              "Total" : [(male_Count + female_Count + other_Count),str(round(((male_Count + female_Count + other_Count)/player_Count)*100,2)) + '%']})

gender_summary

     Male  Female Other / Non-Disclosed   Total
0     484      81                    11     576
1  84.03%  14.06%                 1.91%  100.0%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
male_count = len(male_df["SN"].unique())
male_Price =  round(male_df["Price"].mean(),2)
male_Buy = male_df["Item ID"].count()
male_Rev = round(male_df["Price"].sum(),2)
male_Price_Average = round(male_Rev/male_count,2)

female_count = len(female_df["SN"].unique())
female_Price =  round(female_df["Price"].mean(),2)
female_Buy = female_df["Item ID"].count()
female_Rev = round(female_df["Price"].sum(),2)
female_Price_Average = round(female_Rev/female_count,2)

other_count = len(other_df["SN"].unique())
other_Price =  round(other_df["Price"].mean(),2)
other_Buy = other_df["Item ID"].count()
other_Rev = round(other_df["Price"].sum(),2)
other_Price_Average = round(other_Rev/other_count,2)

gender_transactions = pd.DataFrame({"Gender":["Total Players","Average Price","Total Transactions","Total Revenue","Average Purchase Total Per Person"],
                                "Male":[int(male_count),'$' + '{:.2f}'.format(male_Price),int(male_Buy),'$' + '{:.2f}'.format(male_Rev),'$' + '{:.2f}'.format(male_Price_Average)],
                                   "Female":[int(female_count),'$' + '{:.2f}'.format(female_Price),int(female_Buy),'$' + '{:.2f}'.format(female_Rev),'$' + '{:.2f}'.format(female_Price_Average)],
                                   "Other / Non-Disclosed":[int(other_count),'$' + '{:.2f}'.format(other_Price),int(other_Buy),'$' + '{:.2f}'.format(other_Rev),'$' + '{:.2f}'.format(other_Price_Average)]
                                 })

gender_transactions

                              Gender      Male   Female Other / Non-Disclosed
0                      Total Players       484       81                    11
1                      Average Price     $3.02    $3.20                 $3.35
2                 Total Transactions       652      113                    15
3                      Total Revenue  $1967.64  $361.94                $50.19
4  Average Purchase Total Per Person     $4.07    $4.47                 $4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
agebin = [0,9,14,19,24,29,34,39,200]

age_group = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],agebin,labels=age_group)

age_Group = purchase_data.groupby("Age Group")

age_SN_Count = [len(x) for x in age_Group["SN"].unique()]

age_SN_Percent = ['{:.2f}'.format((len(x)/player_Count)*100) + '%' for x in age_Group["SN"].unique()]

age_char_Summary = pd.DataFrame({"Age Group":age_group,
                   "Count of Players":age_SN_Count,
                                "Percent of Total Players":age_SN_Percent})

age_char_Summary

  Age Group  Count of Players Percent of Total Players
0       <10                17                    2.95%
1     10-14                22                    3.82%
2     15-19               107                   18.58%
3     20-24               258                   44.79%
4     25-29                77                   13.37%
5     30-34                52                    9.03%
6     35-39                31                    5.38%
7       40+                12                    2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_Group["Purchase ID"].count()

age_avg = ['$'+'{:.2f}'.format(x) for x in age_Group["Price"].mean()]

age_rev = ['$'+'{:.2f}'.format(x) for x in age_Group["Price"].sum()]

age_unique = [len(x) for x in age_Group["SN"].unique()]

age_price_Summary = pd.DataFrame({"Number of Players":age_unique,
                                "Average Price":age_avg,
                                "Total Transactions":age_Group["Purchase ID"].count(),
                                 "Total Revenue": age_rev})
age_price_Summary

           Number of Players Average Price  Total Transactions Total Revenue
Age Group
<10                       17         $3.35                  23        $77.13
10-14                     22         $2.96                  28        $82.78
15-19                    107         $3.04                 136       $412.89
20-24                    258         $3.05                 365      $1114.06
25-29                     77         $2.90                 101       $293.00
30-34                     52         $2.93                  73       $214.00
35-39                     31         $3.60                  41       $147.67
40+                       12         $2.94                  13        $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame